
@{
    ViewBag.Title = "Startpage";
}
<!DOCTYPE html>


    <style>
      

        h1,h2,h3,p{
            text-align:center;
        }

        h1{
            
            font-size:80px;
        }
        body{
            margin-top:180px;
        }
     
      

    </style>

<body background="~/Content/images/weather.jpg">

    <h2>Welcome</h2>
    <h3>to our</h3>
    <h1>weatherforecast service/client</h1>
    <h2>Project</h2>
    <h3>made by </h3>
   </body>



